@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard'; 
  list-style: none;
}
body {
  display: flex;
  background-color: #F5F6F8;
}
.page-wrapper {
  width: 100%;
  height: auto;
}
.content {
  max-width: 1024px;
  padding: 10px;
  height: auto;
  margin: 0 auto;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***** TOP BOX *****/

.top-option-box{
  width: 100%;
  border-radius: 6px;
  border: 1px solid #c6c9cc;
  margin: 10px 0;
}
.top-option-box div:first-child{
  border-bottom: 1px dashed #c6c9cc;
}
.top-options{
  width: 100%;
  padding: 10px;
  text-align: left;
}
.top-options a{
  color: #666;
}
.top-options span{
  text-decoration: underline;
}
.top-options a:first-child{
  padding-left: 5px;
  padding-right: 10px;
}
.top-options a:not(:first-child){
  padding: 0 10px;
}
.top-options .selected{
  font-weight: 700;
}
.top-options a .count{
  text-decoration: none;
}

/***** TOTAL *****/

.top-container{
  width: 100%;
  margin: 10px 0;
  text-align: right;
  margin-right: 0;
  padding-right: 0;
  display: flex;
}
.top-align-box{
  width: 50%;
  position: relative;
}
.top-total{
  text-align: left;
  position: absolute;
  bottom: 0;
}

/***** SEARCH *****/

form {
  max-width: 500px;
  text-align: right;
}
input {
  padding: 6px 15px;
}
.submit {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: #42444e;
  color: #fff;
}
.input-group input,
.input-group div button,
.input-group span button{
  border: 1px solid #c6c9cc;
}
.scrollable-dropdown{
  height: auto;
  max-height:320px;
  overflow-x: hidden;
}
a:-webkit-any-link{
  text-decoration: none;
}

/***** TABLE *****/

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
  width: 25%;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
#tag{
  display: inline-flexbox;
  text-align: center;
  color:whitesmoke;
  background-color:#42444e;
  padding: 1px;
  border-radius: 3px;
  font-size: smaller;
}

/***** BACK TO TOP *****/

.backToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: none;
  color: white;
  border-radius: 100%;
  transition: 0.5s;
  cursor: pointer;
}
.backToTopBtn:not(:hover) {
  background:  #313443;
}
.backToTopBtn:hover {
  background: #0f0f0f;
}
.backToTopBtn.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.backToTopBtn:not(.active) {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/***** NAV *****/

.nav-wrapper {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	width: 90%;
	height: 60px;
	border-radius: 0 0 15px 15px;
	padding: 0 25px;
	z-index: 2;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.nav-tabs {
	display: flex;
	font-weight: 600;
	font-size: 15px;
	list-style: none;
  border-bottom: none;
}
.nav-tab:not(:last-child) {
	padding: 5px 25px;
	margin: 0;
	border-right: 1px solid #eee;
}
.nav-tab:last-child {
	padding: 5px 25px;
}
.nav-tab,
.menu-btn {
	cursor: pointer;
}
.hidden {
	display: none;
}
ol, ul {
  margin-top: 15px;
}