{% extends 'index.html' %}
{% block content %}

<script>
    $("#content").addClass("selected");
</script>

<div class="top-container">
    <div class="top-align-box">
        <button class="btn btn-default" id="download">
            CSV 다운로드
        </button>
    </div>

    <div class="top-align-box">
    <form id="searchForm">
        <div class="input-group">
        <div class="input-group-btn search-panel">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search-concept">URL</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu scrollable-dropdown" role="menu">
            <li><a href="#">서브도메인</a></li>
            <li><a href="#">제목</a></li>
            <li><a href="#">URL</a></li>
            <li><a href="#">콘텐츠</a></li>
        </ul>
        </div>
        <input type="hidden" name="search-param" id="search-param" value="URL">
        <input type="text" class="form-control" id="searchInput" placeholder="Search">
        <span class="input-group-btn"><button class="btn btn-default" id="submitButton" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
    </form>
    </div>
</div>

<div class="body-container">
<div class="top-align-box">
    <div class="top-total">
        검색 결과: <strong><span class="total-count"></span></strong>개
    </div>
</div>

<table style="table-layout: fixed; word-break: break-all;">
    <thead>
        <tr>
            <th>서브도메인</th>
            <th>제목</th>
            <th>URL</th>
            <th>콘텐츠</th>
        </tr>
    </thead>
    <tbody id="results"></tbody>
</table>

<div id="loading" style="text-align: center; display: none;">
    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading..."
    style="margin: 20px; width: 50px; height: 50px;"/>
</div>
</div>

<script>
var page = 1;
var loading = false;
var endofdata = false;
var queryed = false;

sideMenu();
loadInitiateResults(true);

$('#searchForm').on('submit', function(event) {
    event.preventDefault();
    $('#results').empty();

    page = 1;
    queryed = true;
    loadResults(true);
});

$(window).scroll(function() {
    if ($(window).scrollTop() + $(window).height() >= $(document).height() - 100 && !endofdata) {
        if (queryed) endofdata = loadResults();
        else endofdata = loadInitiateResults();
    }
});
</script>
</div>

{% endblock %}