{% extends 'index.html' %}
{% block content %}

<script>
    $('.sidebar-navigation ul li:nth-of-type(2)').addClass('active')
</script>

<div class="content">
    <table>
        <tr>
            <th>검색 예정 URL</th>
            <th>검색 완료 여부 (Google)</th>
            <th>검색 완료 여부 (Bing)</th>
        </tr>
        {% for row in data %}
        <tr> 
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}