<!DOCTYPE html>
<html>
<head>
    <title>DCBA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
<button class="backToTopBtn"><i class="fas fa-angle-up"></i></button>
<div class="body-wrapper">

  <div class="sidebar-wrapper">
    <div class="side-nav">
      <div class="logo" onclick="location.href='/'">
        <i class="fa-solid fa-shield-cat"></i>
        <span>DCBA</span>
        <span>Database for Crawling Based ASM</span>
      </div>

      <nav><ul role="menu" id="side-nav-list">
        <li id="dashboard">
          <i class="fa-solid fa-house"></i>
          <span>대시보드</span>
        </li>
        <hr/>
        <li id="content">
          <i class="fa-solid fa-square-poll-horizontal"></i>
          <span>크롤링 결과</span>
        </li>
        <li id="loginpage">
          <i class="fa-solid fa-square-arrow-up-right"></i>
          <span>로그인 페이지</span>
        </li>
        <li id="adminpage">
          <i class="fa-solid fa-unlock"></i>
          <span>관리자 페이지</span>
        </li>
        <hr />
        <li id="fileparses">
          <i class="fa-solid fa-file-arrow-down"></i>
          <span>파일 다운로드</span>
        </li>
        <li id="gits">
          <i class="fa-brands fa-square-github"></i>
          <span>GIT 정보 노출</span>
        </li>
        <li id="jss">
          <i class="fa-brands fa-square-js"></i>
          <span>소스 내 중요 정보 노출</span>
        </li>
        <li id="neednot">
          <i class="fa-solid fa-square-xmark"></i>
          <span>불필요한 정보 노출</span>
        </li>
      </ul></nav>
    </div>
  </div>

  <div class="page-wrapper">
    <div class="nav-wrapper">
        {% include 'dropdown.html' %}
    </div>
    <div class="content-wrapper">
        {% block content %}{% endblock %}
    </div>
  </div>  
</div>
<script> menuClick(); </script>
</body>
</html>